<!DOCTYPE html>
<!--Nashia Amourdon-->
<html>
<head>
<title >Back-end-test</title>
</head>
<body>


<h3 align="center">
<a href="/greater">Dates Greater than 01-Oct-17</a>
<br/>
<a href="/less">Dates Lesser than 01-Aug-16</a>
</br>
<a href="/between">Dates Between 01-Jun-16 and 01-Aug-17</a>
</br>
<a href="/equal">Data for 01-Jan-01</a>
</h3>
</body>
</html>
